<header>
  <h2 class="site-title" href="/udw18//">STIL 2017</h2>
  
  <ul>
    <li><a class="page-link" href="{{ site.baseurl }}">Home</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}cfp.html">Call for papers</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}submission.html">Submission</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}registration.html">Registration</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}program.html">Program</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}organization.html">Organization</a></li>
  </ul>

  <h3>IMPORTANT DATES</h3>
  <ul>
    <li><span><strike>May 7</strike> <b>May 26</b>: Submission </span></li>
    <li><span>August 4: Notification</span></li>
    <li><span>August 25: Camera Readies</span></li>
  </ul>
  
  <h3>CONTACT</h3>
  <ul>
    <li><span><a href="mailto:vladiacelia@gmail.com">vladiacelia@gmail.com</a></span></li>
    <li><span><a href="mailto:g.h.paetzold@sheffield.ac.uk">g.h.paetzold@sheffield.ac.uk</a></span></li>
  </ul>

</header>
