<header>
  <h2 class="site-title" >{{ site.data.utils.sdTitle }}</h2>
  
  <ul>
    <li><a class="page-link" href="{{ site.baseurl }}">Home</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}cfp.html">Call for papers</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}submission.html">Submission</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}registration.html">Registration</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}program.html">Program</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}organization.html">Organization</a></li>
  </ul>

  <h3>IMPORTANT DATES</h3>
  <ul>
      <li><span>14/06/19: Final Submission</span></li>
      <li><span>15/08/19: Notification</span></li>
      <li><span>30/08/19: CamaraReader</span></li>
      <li><span>15/10/19: Start of STIL</span></li>
  </ul>
  
  <h3>CONTACT</h3>
  <ul>
      <li><span><a href="mailto:prolo@dimap.ufrn.br">Carlos Augusto Prol</a></span></li>
      <li><span><a href="mailto:lhmoliveira@gmail.com">Leandro Henrique Mendonça de Oliveira</a></span></li>
  </ul>

</header>
