<header>
  <h2 class="site-title" >{{ site.data.utils.sdTitle }}</h2>
  
  <ul>
    <li><a class="page-link" href="{{ site.baseurl }}">Home</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}cfp.html">Call for papers</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}submission.html">Submission</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}registration.html">Registration</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}program.html">Program</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}organization.html">Organization</a></li>
  </ul>

  <h3>IMPORTANT DATES</h3>
  <ul>
    <li><span><strike>May 7</strike> May 26: Submission </span></li>
    <li><span>August 4: Notification</span></li>
    <li><span>August 25: Camera Readies</span></li>
  </ul>
  
  <h3>CONTACT</h3>
  <ul>
    {% for member in site.data.utils.contact %}
    <li><span><a href="{{ member }}">{{ member}}</a></span></li>
    {% endfor %}
  </ul>

</header>
